{% extends "layout.html" %}

{% block content %}
<h2>Edit Receipt</h2>

<form method="post" class="card p-4 mt-3">

    <div class="mb-3">
        <label>Daily Price</label>
        <input type="number"
               name="daily_price"
               value="{{ receipt[0] }}"
               class="form-control"
               required>
    </div>

    <div class="mb-3">
        <label>Damage Fee</label>
        <input type="number"
               name="damage_fee"
               value="{{ receipt[1] }}"
               class="form-control">
    </div>

    <button class="btn btn-dark">Save Changes</button>

    <a href="/receipts/view/{{ rent_id }}"
        class="btn btn-outline-secondary ms-2">
        Cancel
    </a>

</form>

{% endblock %}
